html,
body {
    padding: 0;
    margin: 0;
    height: 100%;
}

#info {
    position: absolute;
    top: 0px;
    width: 100%;
    padding: 5px;
    text-align: center;
}

#info a {
    color: #66F;
    text-decoration: none;
}

#info a:hover {
    text-decoration: underline;
}

#container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
}

button {
    background-color: rgb(255, 104, 104);
    color: rgba(255, 255, 255, 0);
    border: none;
    height: 45px;
    width: 80px;
    padding: 20px 10px;
    font-size: 16px;
}

button:hover {
    color: rgba(180, 25, 25, 0.171);
    background-color: rgba(247, 136, 84, 0.24);
}

.switch {
    position: relative;
    display: inline-block;
    top: 6px;
    left: 10px;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 10;
    width: 50;
    height: 30;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: rgb(255, 82, 82);
}

input:focus+.slider {
    box-shadow: 0 0 1px rgb(255, 134, 134);
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}


/* Rounded sliders */

.slider.round {
    border-radius: 84px;
}

.slider.round:before {
    border-radius: 50%;
}

.text {
    display: none
}

input:checked+.text {
    display: inline-block
}

.select-css {
    display: block;
    font-size: 15px;
    font-weight: 700;
    color: rgb(134, 134, 134);
    line-height: 1.3;
    padding: .6em 1.4em .5em .8em;
    width: 100%;
    height: 40px;
    max-width: 120px;
    box-sizing: border-box;
    /* margin: 5px; */
    border: 0px solid #aaa;
    box-shadow: 0 1px 0 1px rgba(0, 0, 0, .04);
    border-radius: 20px;
}

.select-css::-ms-expand {
    display: none;
}

.select-css:hover {
    border-color: #888;
}

.select-css:focus {
    border-color: rgb(134, 134, 134);
    box-shadow: 0 0 1px 3px rgba(61, 81, 107, 0.7);
    box-shadow: 0 0 0 3px -moz-mac-focusring;
    color: #222;
    outline: none;
}

.select-css option {
    font-weight: normal;
    max-width: 10px;
}